#STRIPE
BASE_URL=http://127.0.0.1:8000
STRIPE_PUBLISHABLE_KEY=pk_test_51QxvYzL2KvP4adqMgH43uBQme29QoHVrHtP4QnT4obyw5yAG5nnGt9AgRba4FvIXR6EIOh3o3x0Kkc9vVTmAJwVc00jMtb4uMc
STRIPE_SECRET_KEY=sk_test_51QxvYzL2KvP4adqMXEceJuUrxH8d64xfGFW3YobeoahAoRN1KBTSZ2vABuo1htdBmu0mZwd4XyiRBcfnJSNMHzsN00les9Kgja

# DB
POSTGRES_DB=cinema
POSTGRES_DB_PORT=5432
POSTGRES_USER=cinema_owner
POSTGRES_PASSWORD=npg_1ONjELgF6sry
POSTGRES_HOST=ep-calm-cell-a2y1mtn0-pooler.eu-central-1.aws.neon.tech

# DB URL for settings
DATABASE_URL=postgresql://cinema_owner:npg_1ONjELgF6sry@ep-calm-cell-a2y1mtn0-pooler.eu-central-1.aws.neon.tech/cinema
# DB URL for Alembic
ASYNC_DATABASE_URL=postgresql+asyncpg://cinema_owner:npg_1ONjELgF6sry@ep-calm-cell-a2y1mtn0-pooler.eu-central-1.aws.neon.tech/cinema
