#STRIPE
BASE_URL=http://127.0.0.1:8000
STRIPE_PUBLISHABLE_KEY=pk_test_51R6suDQ5k4vFHcvQ8d8iwnQZG1ePkDf5kCxyzjtPAlbW4RAfEcIYBq9dyvC4qNhUFRgjCEG8VWVvglBMAygibrMx00uBOicCQ9
STRIPE_SECRET_KEY=sk_test_51R6suDQ5k4vFHcvQy0ttxdjlhANhD80Wox5ebT206dOsecA6JS3Se8HRsvon32T3mxuwsO0LEf6x3d16yEG97R9f00QuVjgAaH
WEBHOOK_SECRET_KEY=whsec_37e0a5a5523deb9b37b2e860f37b0819712b48fe7b542ae1298cd31717b4773b
STRIPE_SUCCESS_URL=http://127.0.0.1:8000/success/
STRIPE_CANCEL_URL=http://127.0.0.1:8000/cancel/

# DB
POSTGRES_DB=cinema
POSTGRES_DB_PORT=5432
POSTGRES_USER=cinema_owner
POSTGRES_PASSWORD=npg_1ONjELgF6sry
POSTGRES_HOST=ep-calm-cell-a2y1mtn0-pooler.eu-central-1.aws.neon.tech

# DB URL for settings
DATABASE_URL=postgresql://cinema_owner:npg_1ONjELgF6sry@ep-calm-cell-a2y1mtn0-pooler.eu-central-1.aws.neon.tech/cinema
# DB URL for Alembic
ASYNC_DATABASE_URL=postgresql+asyncpg://cinema_owner:npg_1ONjELgF6sry@ep-calm-cell-a2y1mtn0-pooler.eu-central-1.aws.neon.tech/cinema

MAILHOG_USER=admin
MAILHOG_PASSWORD=some_password
# Email settings for MailHog
EMAIL_HOST=mailhog_theater
EMAIL_PORT=1025
EMAIL_HOST_USER=testuser
EMAIL_HOST_PASSWORD=test_password
EMAIL_USE_TLS=False
# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=some_password
MINIO_HOST=minio-theater
MINIO_PORT=9000
MINIO_STORAGE=theater-storage
PYTHONPATH=/usr/src/fastapi
